@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: #f5f0ce;
}

.unvisible {
  display: none;
}

.cat-info {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 900px;
}

.cat-info-desc-desc,
.cat-info-desc-temp {
  line-height: 150%;
}

.container {
  padding: 15px;
}
