@import '~node_modules/modern-normalize/modern-normalize.css';

.breed-select {
  margin: 15px 15px 15px 15px;
}

.loader {
  display: none;
}

.error {
  display: none;
}

.cat-info {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 900px;
}

.cat-info-desc-title,
.cat-info-desc-desc,
.cat-info-desc-temp {
  line-height: 150%;
}
