@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: #f5f0ce;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 15px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #2596be;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.unvisible {
  display: none;
}

.cat-info-desc-desc,
.cat-info-desc-temp {
  line-height: 150%;
}

.cat-info {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .cat-info {
    flex-direction: row;
  }
}
